.MovieShowCanvas {
    background-color: rgb(0, 0, 0);
    color: whitesmoke;
    margin: 0 0 auto;
    min-height:100%
}

.trailer-container {
    margin: auto;
}

.summary {
    text-align: center;
    border: 3px solid rgb(90, 175, 90);
    width: 300px;
    height: 300px;
    overflow: auto;
    position:absolute;
    top:800px;
    right:220px;
    padding:10px;
 
}

.recommended {
    background-color: #282C34;
    padding: 10px;
    margin:0 0 auto;
}


/* .poster-img {
   margin:
} */